In [3]:
import pandas as pd
import numpy as np

import re

In [4]:
bnb = pd.read_csv('../data/air-bnb-listings-to-use.csv')

In [5]:
pd.set_option('display.max_rows', 1000)

In [6]:
bnb.head()

,Room ID,Name,Host ID,Neighbourhood,Room type,Room Price,Minimum nights,Number of reviews,Date last review,Number of reviews per month,Rooms rent by the host,Availibility,Updated Date,City,Country,Coordinates,Location
0,575758,a REAL warehouse LOFT,2832150,Five Points,Entire home/apt,200,180,38,2017-01-09,0.51,1,0,2020-06-28,Denver,United states,"39.767916331935616, -104.97976015587257","United states, Denver, Five Points"
1,1041934,"Private apt in Berkeley, MTN Views!",5811115,Berkeley,Entire home/apt,215,30,27,2019-12-02,0.32,7,247,2020-06-28,Denver,United states,"39.78122240894239, -105.03904720467456","United states, Denver, Berkeley"
2,1311993,Downtown Apt - Clean & Convenient! Brooks Towe...,6658113,CBD,Entire home/apt,90,30,7,2017-06-03,0.09,22,317,2020-06-28,Denver,United states,"39.74651081035565, -104.99583469460369","United states, Denver, CBD"
3,1557739,Full bed with shared bathroom,8289288,Cole,Private room,60,30,125,2019-06-15,1.66,7,0,2020-06-28,Denver,United states,"39.76278786287324, -104.97123079202251","United states, Denver, Cole"
4,3338717,Private basement apartment on park.,16853725,Rosedale,Entire home/apt,90,2,92,2020-06-13,1.26,1,306,2020-06-28,Denver,United states,"39.675036382043245, -104.97842716027984","United states, Denver, Rosedale"

In [7]:
bnb.shape

(240662, 17)

In [8]:
bnb['City'].value_counts()

City
New-york-city         48588
Los-angeles           35757
Hawaii                22917
San-diego             12687
Broward-county        10858
Clark-county-nv       10568
Austin                10321
Washington-dc          8708
Chicago                7628
San-francisco          7526
Santa-clara-county     7091
New-orleans            6918
Nashville              6848
Seattle                6575
Twin-cities-msa        6470
Portland               4281
Denver                 4200
Rhode-island           3884
Boston                 3440
Oakland                3204
San-mateo-county       2892
Jersey-city            2488
Asheville              2407
Santa-cruz-county      1571
Columbus               1409
Cambridge              1029
Salem-or                207
Pacific-grove           190
Name: count, dtype: int64

In [9]:
#changing Broward County to Ft Lauderdale
bnb['City'] = bnb['City'].replace('Broward-county', 'Ft Lauderdale')

In [10]:
#changing Clark County to Las Vegas
bnb['City'] = bnb['City'].replace('Clark-county-nv', 'Las Vegas')

In [11]:
#changing Twin-cities-msa to Twin Cities
bnb['City'] = bnb['City'].replace('Twin-cities-msa', 'Twin Cities')

In [12]:
# mapping to create state column
city_to_state = {
    'Denver': 'CO',
    'San-francisco': 'CA',
    'New-york-city': 'NY',
    'Los Angeles': 'CA',
    'Chicago': 'IL',
    'Miami': 'FL',
    'Austin': 'TX',
    'Seattle': 'WA',
    'Boston': 'MA',
    'Washington-dc': 'DC',
    'Philadelphia': 'PA',
    'Atlanta': 'GA',
    'Dallas': 'TX',
    'Houston': 'TX',
    'Phoenix': 'AZ',
    'Las Vegas': 'NV',
    'Portland': 'OR',
    'San-diego': 'CA',
    'Orlando': 'FL',
    'Columbus': 'OH',
    'Hawaii': 'HI',
    'Oakland': 'CA',
    'Rhode Island': 'RI',
    'Nashville': 'TN',
    'Ft Lauderdale': 'FL',
    'San-mateo-county': 'CA',
    'Jersey-city': 'NJ',
    'Asheville': 'NC',
    'Santa-cruz-county': 'CA',
    'Salem-or': 'OR',
    'New-orleans': 'LA',
    'Cambridge': 'MA',
    'Rhode Island': 'RI',
    'Twin Cities': 'MN'
}

In [13]:
bnb['State'] = bnb['City'].map(city_to_state)

In [14]:
bnb.head()

,Room ID,Name,Host ID,Neighbourhood,Room type,Room Price,Minimum nights,Number of reviews,Date last review,Number of reviews per month,Rooms rent by the host,Availibility,Updated Date,City,Country,Coordinates,Location,State
0,575758,a REAL warehouse LOFT,2832150,Five Points,Entire home/apt,200,180,38,2017-01-09,0.51,1,0,2020-06-28,Denver,United states,"39.767916331935616, -104.97976015587257","United states, Denver, Five Points",CO
1,1041934,"Private apt in Berkeley, MTN Views!",5811115,Berkeley,Entire home/apt,215,30,27,2019-12-02,0.32,7,247,2020-06-28,Denver,United states,"39.78122240894239, -105.03904720467456","United states, Denver, Berkeley",CO
2,1311993,Downtown Apt - Clean & Convenient! Brooks Towe...,6658113,CBD,Entire home/apt,90,30,7,2017-06-03,0.09,22,317,2020-06-28,Denver,United states,"39.74651081035565, -104.99583469460369","United states, Denver, CBD",CO
3,1557739,Full bed with shared bathroom,8289288,Cole,Private room,60,30,125,2019-06-15,1.66,7,0,2020-06-28,Denver,United states,"39.76278786287324, -104.97123079202251","United states, Denver, Cole",CO
4,3338717,Private basement apartment on park.,16853725,Rosedale,Entire home/apt,90,2,92,2020-06-13,1.26,1,306,2020-06-28,Denver,United states,"39.675036382043245, -104.97842716027984","United states, Denver, Rosedale",CO

In [15]:
bnb['State'].value_counts()

State
NY    48588
CA    27880
HI    22917
FL    10858
NV    10568
TX    10321
DC     8708
IL     7628
LA     6918
TN     6848
WA     6575
MN     6470
OR     4488
MA     4469
CO     4200
NJ     2488
NC     2407
OH     1409
Name: count, dtype: int64

In [16]:
bnb['City'].value_counts()

City
New-york-city         48588
Los-angeles           35757
Hawaii                22917
San-diego             12687
Ft Lauderdale         10858
Las Vegas             10568
Austin                10321
Washington-dc          8708
Chicago                7628
San-francisco          7526
Santa-clara-county     7091
New-orleans            6918
Nashville              6848
Seattle                6575
Twin Cities            6470
Portland               4281
Denver                 4200
Rhode-island           3884
Boston                 3440
Oakland                3204
San-mateo-county       2892
Jersey-city            2488
Asheville              2407
Santa-cruz-county      1571
Columbus               1409
Cambridge              1029
Salem-or                207
Pacific-grove           190
Name: count, dtype: int64

In [17]:
def camel_to_snake(col):
    return re.sub(' ', '_', col).lower()

In [18]:
bnb.columns = [camel_to_snake(col) for col in bnb.columns]

In [19]:
bnb.head()

,room_id,name,host_id,neighbourhood,room_type,room_price,minimum_nights,number_of_reviews,date_last_review,number_of_reviews_per_month,rooms_rent_by_the_host,availibility,updated_date,city,country,coordinates,location,state
0,575758,a REAL warehouse LOFT,2832150,Five Points,Entire home/apt,200,180,38,2017-01-09,0.51,1,0,2020-06-28,Denver,United states,"39.767916331935616, -104.97976015587257","United states, Denver, Five Points",CO
1,1041934,"Private apt in Berkeley, MTN Views!",5811115,Berkeley,Entire home/apt,215,30,27,2019-12-02,0.32,7,247,2020-06-28,Denver,United states,"39.78122240894239, -105.03904720467456","United states, Denver, Berkeley",CO
2,1311993,Downtown Apt - Clean & Convenient! Brooks Towe...,6658113,CBD,Entire home/apt,90,30,7,2017-06-03,0.09,22,317,2020-06-28,Denver,United states,"39.74651081035565, -104.99583469460369","United states, Denver, CBD",CO
3,1557739,Full bed with shared bathroom,8289288,Cole,Private room,60,30,125,2019-06-15,1.66,7,0,2020-06-28,Denver,United states,"39.76278786287324, -104.97123079202251","United states, Denver, Cole",CO
4,3338717,Private basement apartment on park.,16853725,Rosedale,Entire home/apt,90,2,92,2020-06-13,1.26,1,306,2020-06-28,Denver,United states,"39.675036382043245, -104.97842716027984","United states, Denver, Rosedale",CO

In [20]:
bnb.columns

Index(['room_id', 'name', 'host_id', 'neighbourhood', 'room_type',
       'room_price', 'minimum_nights', 'number_of_reviews', 'date_last_review',
       'number_of_reviews_per_month', 'rooms_rent_by_the_host', 'availibility',
       'updated_date', 'city', 'country', 'coordinates', 'location', 'state'],
      dtype='object')

In [21]:
def camel_to_snake(city):
    return re.sub('-', ' ', city).title()

In [22]:
bnb['city'] = [camel_to_snake(city) for city in bnb['city']]

In [23]:
bnb['city'].value_counts()

city
New York City         48588
Los Angeles           35757
Hawaii                22917
San Diego             12687
Ft Lauderdale         10858
Las Vegas             10568
Austin                10321
Washington Dc          8708
Chicago                7628
San Francisco          7526
Santa Clara County     7091
New Orleans            6918
Nashville              6848
Seattle                6575
Twin Cities            6470
Portland               4281
Denver                 4200
Rhode Island           3884
Boston                 3440
Oakland                3204
San Mateo County       2892
Jersey City            2488
Asheville              2407
Santa Cruz County      1571
Columbus               1409
Cambridge              1029
Salem Or                207
Pacific Grove           190
Name: count, dtype: int64

In [24]:
bnb.columns

Index(['room_id', 'name', 'host_id', 'neighbourhood', 'room_type',
       'room_price', 'minimum_nights', 'number_of_reviews', 'date_last_review',
       'number_of_reviews_per_month', 'rooms_rent_by_the_host', 'availibility',
       'updated_date', 'city', 'country', 'coordinates', 'location', 'state'],
      dtype='object')

In [25]:
#drop unnecessary columns
bnb.drop(columns=['name', 'host_id', 'number_of_reviews', 'date_last_review',
       'number_of_reviews_per_month', 'rooms_rent_by_the_host', 'availibility', 'country', 'coordinates', 'location'], inplace=True)

In [26]:
bnb.head()

,room_id,neighbourhood,room_type,room_price,minimum_nights,updated_date,city,state
0,575758,Five Points,Entire home/apt,200,180,2020-06-28,Denver,CO
1,1041934,Berkeley,Entire home/apt,215,30,2020-06-28,Denver,CO
2,1311993,CBD,Entire home/apt,90,30,2020-06-28,Denver,CO
3,1557739,Cole,Private room,60,30,2020-06-28,Denver,CO
4,3338717,Rosedale,Entire home/apt,90,2,2020-06-28,Denver,CO

In [27]:
bnb.isnull().sum()

room_id               0
neighbourhood         0
room_type             0
room_price            0
minimum_nights        0
updated_date          0
city                  0
state             46922
dtype: int64

In [28]:
bnb.shape

(240662, 8)

In [29]:
# dropping null State
bnb.dropna(subset=['state'], inplace=True)

In [30]:
bnb.shape

(193740, 8)

In [31]:
bnb.to_csv('../data/air_bnb_data_clean.csv', index=False)